IO_LOC  "chip_tdi_i" J3;
IO_PORT "chip_tdi_i" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC  "chip_tdo_o" J2;
IO_PORT "chip_tdo_o" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
IO_LOC  "chip_tms_i" G3;
IO_PORT "chip_tms_i" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC  "chip_tck_i" G2;
IO_PORT "chip_tck_i" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC  "spi_sck_o" L14;
IO_PORT "spi_sck_o" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
IO_LOC  "spi_cs_n_io" L13;
IO_PORT "spi_cs_n_io" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=4 BANK_VCCIO=3.3;
IO_LOC  "spi_mosi_io" M13;
IO_PORT "spi_mosi_io" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
IO_LOC  "spi_miso_io" K14;
IO_PORT "spi_miso_io" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=4 BANK_VCCIO=3.3;
IO_LOC  "done_led_o" L3;
IO_PORT "done_led_o" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
