# FTDI Synchronous FIFO (Port A)
NET "fifo_data<0>" LOC = "P70" | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "fifo_data<1>" LOC = "P69" | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "fifo_data<2>" LOC = "P67" | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "fifo_data<3>" LOC = "P66" | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "fifo_data<4>" LOC = "P65" | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "fifo_data<5>" LOC = "P64" | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "fifo_data<6>" LOC = "P62" | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "fifo_data<7>" LOC = "P61" | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "fifo_rxfn"    LOC = "P60" | IOSTANDARD = LVCMOS33 | SLEW = FAST;              # Data ready in RX buffer (act low)
NET "fifo_txen"    LOC = "P59" | IOSTANDARD = LVCMOS33 | SLEW = FAST;              # Room available in TX buffer (act low)
NET "fifo_rdn"     LOC = "P58" | IOSTANDARD = LVCMOS33 | SLEW = FAST;              # Read data from FTDI (oen must be low 1 cycle before, act low)
NET "fifo_wrn"     LOC = "P57" | IOSTANDARD = LVCMOS33 | SLEW = FAST;              # Put date to FTDI (oen must be high one cycle before, act low)
NET "fifo_clk"     LOC = "P56" | IOSTANDARD = LVCMOS33 | SLEW = FAST | BUFG = CLK | PERIOD = 16.66 ns;
NET "fifo_oen"     LOC = "P51" | IOSTANDARD = LVCMOS33 | SLEW = FAST;              # when low, fifo_data[] is ftdi -> fpga

# 12MHz oscillator input
NET "clk"          LOC =  "P55" | IOSTANDARD = LVCMOS33 | SLEW = FAST | BUFG = CLK | PERIOD = 83.33 ns;

# JTAG from FTDI (MPSSE Port B)
NET "jtag_en"      LOC =  "P35" | IOSTANDARD = LVCMOS25 | SLEW = SLOW;     # Route JTAG to FPGA IO pins rather than dedicated programming pins
NET "jtag_tdi"     LOC =  "P40" | IOSTANDARD = LVCMOS33 | SLEW = SLOW;     # Always connected to FTDI
NET "jtag_tms"     LOC =  "P38" | IOSTANDARD = LVCMOS33 | SLEW = SLOW;     # Always connected to FTDI
NET "jtag_tdo"     LOC =  "P39" | IOSTANDARD = LVCMOS33 | SLEW = SLOW;     # Routed to FTDI when jtag_en is high
NET "jtag_tck"     LOC =  "P33" | IOSTANDARD = LVCMOS33 | SLEW = SLOW;     # Routed from FTDI when jtag_en is high

# User IF
NET "user_led"     LOC =  "P34" | IOSTANDARD = LVCMOS25 | SLEW = SLOW;     # Active low, hardware debounce
NET "user_btn"     LOC =  "P127" | IOSTANDARD = LVCMOS25 | SLEW = SLOW;    # Active high

# IOs
NET "io_en"        LOC =  "P32" | IOSTANDARD = LVCMOS25 | SLEW = SLOW;     # Enable buffers, if any, active high

NET "io0<0>"       LOC =  "P50" | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "io0<1>"       LOC =  "P48" | IOSTANDARD = LVCMOS33 | SLEW = FAST;     # RST
NET "io0<2>"       LOC =  "P47" | IOSTANDARD = LVCMOS33 | SLEW = FAST;     # TDO   SWO
NET "io0<3>"       LOC =  "P46" | IOSTANDARD = LVCMOS33 | SLEW = FAST;     # RTCK
NET "io0<4>"       LOC =  "P45" | IOSTANDARD = LVCMOS33 | SLEW = FAST;     # TCK   SWCLK
NET "io0<5>"       LOC =  "P44" | IOSTANDARD = LVCMOS33 | SLEW = FAST;     # TMS   SWDIO
NET "io0<6>"       LOC =  "P43" | IOSTANDARD = LVCMOS33 | SLEW = FAST;     # TDI
NET "io0<7>"       LOC =  "P41" | IOSTANDARD = LVCMOS33 | SLEW = FAST;     # TRST

NET "io1<0>"       LOC = "P74" | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "io1<1>"       LOC = "P75" | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "io1<2>"       LOC = "P78" | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "io1<3>"       LOC = "P79" | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "io1<4>"       LOC = "P80" | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "io1<5>"       LOC = "P81" | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "io1<6>"       LOC = "P82" | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "io1<7>"       LOC = "P83" | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "io1<8>"       LOC = "P84" | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "io1<9>"       LOC = "P85" | IOSTANDARD = LVCMOS33 | SLEW = FAST | BUFG = CLK;
NET "io1<10>"      LOC = "P87" | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "io1<11>"      LOC = "P88" | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "io1<12>"      LOC = "P92" | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "io1<13>"      LOC = "P93" | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "io1<14>"      LOC = "P94" | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "io1<15>"      LOC = "P95" | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "io1<16>"      LOC = "P97" | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "io1<17>"      LOC = "P98" | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "io1<18>"      LOC = "P99" | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "io1<19>"      LOC = "P100" | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "io1<20>"      LOC = "P101" | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "io1<21>"      LOC = "P102" | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "io1<22>"      LOC = "P104" | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "io1<23>"      LOC = "P105" | IOSTANDARD = LVCMOS33 | SLEW = FAST;

# Ram

# addr[2..19] may be reorganized
NET "ram_addr<0>"   LOC = "P8" | IOSTANDARD = LVCMOS25 | SLEW = FAST;    # Fixed, A0
NET "ram_addr<1>"   LOC = "P7" | IOSTANDARD = LVCMOS25 | SLEW = FAST;    # Fixed, A1
NET "ram_addr<2>"   LOC = "P6" | IOSTANDARD = LVCMOS25 | SLEW = FAST;
NET "ram_addr<3>"   LOC = "P5" | IOSTANDARD = LVCMOS25 | SLEW = FAST;
NET "ram_addr<4>"   LOC = "P2" | IOSTANDARD = LVCMOS25 | SLEW = FAST;
NET "ram_addr<5>"   LOC = "P1" | IOSTANDARD = LVCMOS25 | SLEW = FAST;
NET "ram_addr<6>"   LOC = "P111" | IOSTANDARD = LVCMOS25 | SLEW = FAST;
NET "ram_addr<7>"   LOC = "P112" | IOSTANDARD = LVCMOS25 | SLEW = FAST;
NET "ram_addr<8>"   LOC = "P132" | IOSTANDARD = LVCMOS25 | SLEW = FAST;
NET "ram_addr<9>"   LOC = "P133" | IOSTANDARD = LVCMOS25 | SLEW = FAST;
NET "ram_addr<10>"  LOC = "P16" | IOSTANDARD = LVCMOS25 | SLEW = FAST;
NET "ram_addr<11>"  LOC = "P15" | IOSTANDARD = LVCMOS25 | SLEW = FAST;
NET "ram_addr<12>"  LOC = "P14" | IOSTANDARD = LVCMOS25 | SLEW = FAST;
NET "ram_addr<13>"  LOC = "P12" | IOSTANDARD = LVCMOS25 | SLEW = FAST;
NET "ram_addr<14>"  LOC = "P11" | IOSTANDARD = LVCMOS25 | SLEW = FAST;
NET "ram_addr<15>"  LOC = "P124" | IOSTANDARD = LVCMOS25 | SLEW = FAST;
NET "ram_addr<16>"  LOC = "P126" | IOSTANDARD = LVCMOS25 | SLEW = FAST;
NET "ram_addr<17>"  LOC = "P121" | IOSTANDARD = LVCMOS25 | SLEW = FAST;
NET "ram_addr<18>"  LOC = "P120" | IOSTANDARD = LVCMOS25 | SLEW = FAST;
NET "ram_addr<19>"  LOC = "P119" | IOSTANDARD = LVCMOS25 | SLEW = FAST;
NET "ram_addr<20>"  LOC = "P10" | IOSTANDARD = LVCMOS25 | SLEW = FAST;   # Fixed, NC_36M
NET "ram_addr<21>"  LOC = "P9" | IOSTANDARD = LVCMOS25 | SLEW = FAST;    # Fixed, NC_72M

# Bits in byte may be reorganized
NET "ram_da<0>"     LOC = "P30" | IOSTANDARD = LVCMOS25 | SLEW = FAST;
NET "ram_da<1>"     LOC = "P29" | IOSTANDARD = LVCMOS25 | SLEW = FAST;
NET "ram_da<2>"     LOC = "P27" | IOSTANDARD = LVCMOS25 | SLEW = FAST;
NET "ram_da<3>"     LOC = "P26" | IOSTANDARD = LVCMOS25 | SLEW = FAST;
NET "ram_da<4>"     LOC = "P24" | IOSTANDARD = LVCMOS25 | SLEW = FAST;
NET "ram_da<5>"     LOC = "P23" | IOSTANDARD = LVCMOS25 | SLEW = FAST;
NET "ram_da<6>"     LOC = "P22" | IOSTANDARD = LVCMOS25 | SLEW = FAST;
NET "ram_da<7>"     LOC = "P21" | IOSTANDARD = LVCMOS25 | SLEW = FAST;
NET "ram_dap"       LOC = "P17" | IOSTANDARD = LVCMOS25 | SLEW = FAST;

NET "ram_db<0>"     LOC = "P134" | IOSTANDARD = LVCMOS25 | SLEW = FAST;
NET "ram_db<1>"     LOC = "P137" | IOSTANDARD = LVCMOS25 | SLEW = FAST;
NET "ram_db<2>"     LOC = "P138" | IOSTANDARD = LVCMOS25 | SLEW = FAST;
NET "ram_db<3>"     LOC = "P139" | IOSTANDARD = LVCMOS25 | SLEW = FAST;
NET "ram_db<4>"     LOC = "P140" | IOSTANDARD = LVCMOS25 | SLEW = FAST;
NET "ram_db<5>"     LOC = "P141" | IOSTANDARD = LVCMOS25 | SLEW = FAST;
NET "ram_db<6>"     LOC = "P142" | IOSTANDARD = LVCMOS25 | SLEW = FAST;
NET "ram_db<7>"     LOC = "P143" | IOSTANDARD = LVCMOS25 | SLEW = FAST;
NET "ram_dbp"       LOC = "P144" | IOSTANDARD = LVCMOS25 | SLEW = FAST;

NET "ram_cen"       LOC = "P114" | IOSTANDARD = LVCMOS25 | SLEW = FAST;  # Chip enable, active low, hardware pullup
NET "ram_bwbn"      LOC = "P115" | IOSTANDARD = LVCMOS25 | SLEW = FAST;
NET "ram_bwan"      LOC = "P116" | IOSTANDARD = LVCMOS25 | SLEW = FAST;
NET "ram_wen"       LOC = "P117" | IOSTANDARD = LVCMOS25 | SLEW = FAST;
NET "ram_cenn"      LOC = "P118" | IOSTANDARD = LVCMOS25 | SLEW = FAST;  # Clock enable
NET "ram_oen"       LOC = "P131" | IOSTANDARD = LVCMOS25 | SLEW = FAST;
NET "ram_clk"       LOC = "P123" | IOSTANDARD = LVCMOS25 | SLEW = FAST | BUFG = CLK;
